<footer>
  {{!-- <p>Created By Anonymous - Copyright {{getCurrentYear}}</p> --}}
  <br>
  <p>
    <center>
    <br>
    <font color="#1ab188">Developed by Suphachok Noopan 5730211009 IT.TE.PSU.Phuket - Copyright {{getCurrentYear}}</font>
    </center>
  </p>
</footer>